# API MLBT - Variables de entorno de ejemplo

NODE_ENV=development
PORT=3001

# Base de datos MySQL/MariaDB local con XAMPP
DATABASE_URL="mysql://root:@127.0.0.1:3306/mlbt_api_ga7_aa5_ev03"

# Seguridad
JWT_SECRET="cambiar_este_valor_en_desarrollo_local"
JWT_EXPIRES_IN="2h"
BCRYPT_SALT_ROUNDS=10
